<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuenta</h2>
    <h3>Iban: {{iban}}</h3>
    <h4>User_id: {{user_id}}</h4>
    <h4>Balance: {{balance}}</h4>
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          user_id: {
            type: Number
          },
          balance: {
            type: String
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.iban = data.detail.response[0].iban;
        this.user_id = data.detail.response[0].user_id;
        this.balance = data.detail.response[0].balance;
      };
    };

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
